<div class="card">
        <div class="card-body">
                <div class="h2">
                    <!-- Имя автора -->
                    {{ user_title }}
                </div>
                <div class="h3 text-muted">
                     <!-- username автора -->
                     @{{ username }}
                </div>
        </div>
        <ul class="list-group list-group-flush">
                <li class="list-group-item">
                        <div class="h6 text-muted">
                        Подписчиков: {{ followers }} <br />
                        Подписан: {{ author_follow }}
                        </div>
                </li>
                <li class="list-group-item">
                        <div class="h6 text-muted">
                            <!--Количество записей -->
                            Записей: {{ posts_count }}
                        </div>
                </li>
        </ul>
        {% if user != username %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% if following %}
                    <a class="btn btn-lg btn-light"
                            href="{% url 'profile_unfollow' username %}" role="button">
                            Отписаться
                    </a>
                    {% else %}
                    <a class="btn btn-lg btn-primary"
                            href="{% url 'profile_follow' username %}" role="button">
                            Подписаться
                    </a>
                    {% endif %}
                </li>
            </ul>
        {% endif %}
</div>